# Distribuição de Frequência

#### Um Coach famoso afim de avaliar o desempenho de seus alunos pegou as notas da última avaliação do seu curso de marketing digital. O Coach pretende tabular esses dados afim de extrair insights e compreender como os dados estão organizados. Vamos criar uma distribuição de frequência e ajudar o Coach a compreender seus dados!

In [3]:
# imports
import pandas as pd

In [4]:
# lista com as notas dos alunos na avaliação do Coach
lista_notas = [92, 81, 100, 92, 71, 73, 100, 92, 84, 100]

In [5]:
# Verificando o total de notas na lista
len(lista_notas)

10

## Séries com Pandas

In [18]:
# Série com notas e frequências
df = pd.Series(lista_notas).value_counts().reset_index().sort_values('index').reset_index(drop=True)

In [19]:
df

   index  0
0     71  1
1     73  1
2     81  1
3     84  1
4     92  3
5    100  3

In [21]:
# Renomeando as colunas
df.columns = ['Notas', 'Frequência']

In [22]:
df

   Notas  Frequência
0     71           1
1     73           1
2     81           1
3     84           1
4     92           3
5    100           3

In [31]:
# Séries com notas e frências alterando a quantidade de classes incluindo a quantidade de bins
df01 = pd.Series(lista_notas).value_counts(bins=3).reset_index().sort_values('index').reset_index(drop=True)

In [35]:
# Renomeando as colunas
df01.columns = ['Nota', 'Frequência']

In [37]:
df01

               Nota  Frequência
0   (70.97, 80.667]           2
1  (80.667, 90.333]           2
2   (90.333, 100.0]           6

### A tabela esta separada em 3 classes (bins) de notas, assim fica mais fácil de observar o desemenho de cada aluno